<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="head :: headCode"></th:block>
    <title>Edit book</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">
        <img src="../img/book_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Book repository
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item border-right">
                <a class="nav-link" th:href="@{/home}">Home </a>
            </li>
            <li class="nav-item border-right">
                <a class="nav-link" th:href="@{/books/catalog}">Catalog <span class="sr-only">(current)</span> </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item border-left">
                <a class="nav-link" th:href="@{/logout}">Sign out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="bordered md-width">
        <form action="#" th:action="@{/books/save/{id}(id=${book.id})}" th:object="${book}" method="POST"
              class="form-horizontal" enctype="multipart/form-data">
            <h1>Edit book</h1>

            <div class="alert alert-danger error" th:if="${occurredException}">
                <h5 th:text="${exceptionMessage}" class="error"></h5>
            </div>

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group row">
                <label for="inputAuthor" class="col-md-2 col-form-label-lg">Author:</label>
                <div class="col-md-10 mt-1">
                    <input type="text" th:field="*{author.name}" class="form-control form-control-lg"
                           id="inputAuthor" placeholder="Enter author" th:errorclass="error-red-bd">
                    <p th:if="${#fields.hasErrors('author.name')}" th:errors="*{author.name}" class="error"></p>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputTitle" class="col-md-2 col-form-label-lg">Title:</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{title}" class="form-control form-control-lg"
                           id="inputTitle" placeholder="Enter title" th:errorclass="error-red-bd">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></p>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPublisher" class="col-md-2 col-form-label-lg">Publisher:</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{firm.name}" class="form-control form-control-lg"
                           id="inputFirm" placeholder="Enter firm name" th:errorclass="error-red-bd">
                    <p th:if="${#fields.hasErrors('firm.name')}" th:errors="*{firm.name}" class="error"></p>

                    <input type="text" th:field="*{firm.city}" class="form-control form-control-lg"
                           id="inputFirmCity" placeholder="Enter firm city" th:errorclass="error-red-bd">
                    <p th:if="${#fields.hasErrors('firm.city')}" th:errors="*{firm.city}" class="error"></p>
                </div>

            </div>
            <div class="form-group row">
                <label for="inputYear" class="col-md-2 col-form-label-lg">Publication year:</label>
                <div class="col-md-5 pt-3 mx-auto">
                    <input type="number" th:field="*{publicationYear}" class="form-control form-control-lg"
                           id="inputYear" placeholder="Enter year of publication" th:errorclass="error-red-bd">
                    <p th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}" class="error"></p>
                </div>
            </div>

            <div class="form-group row book">
                <label class="col-md-2 col-form-label-lg">Book cover image:</label>
                <div class="col md-8 search-file-div">
                    <img th:src="${'data:image/jpeg;base64,'+{image}}" alt="Book image"
                         th:onerror="'this.src=\'' + @{/img/imgNotFound.jpg} + '\';'" id="bookImg">
                    <div>
                        <label class="btn search-file-btn">
                            <input name="file" type="file" accept="image/*" onchange="onFileSelected(event)">
                            <i class="fas fa-upload fa-lg"></i>
                            <span>Change image...</span>
                        </label>
                        <span>No file selected</span>
                    </div>
                </div>
            </div>

            <div class="form-group row btn-div">
                <div class="col-auto confirm-btn">
                    <button type="submit" class="btn btn-outline-dark">
                        Apply changes
                    </button>
                </div>
                <div class="col-auto btn-back">
                    <a th:href="@{/books/catalog}" class="btn btn-outline-dark">
                        <i class="fas fa-chevron-left"></i> Back
                    </a>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>